@import '../../../theme/variables.scss';

:host {
  box-sizing: content-box;
  display: block;
  height: 100%;
  overflow: auto;
  position: absolute;
  right: 0;
  width: map-get($ptcg-size, sidebar);
  z-index: 1;
}

// Hide table sidebar on mobile
@media (max-width: 768px) {
  :host {
    display: none;
  }
}